@media screen and (min-width: 800px) {
    #menuBtn {
        display: none;

    }

    #navMenu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        background-color: transparent;
        list-style: none;
        padding: 0;
        margin: 0;
        color: black;
    }

    #navMenu.open {
        display: flex;
    }

    #navMenu a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        padding: .5rem;
    }

    #navMenu a:hover {
        background-color: #EDB390;
        text-decoration: underline;
    }

    .index {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        align-items: center;
        margin: auto;
    }

    .welcome {
        font-size: 1rem;
    }

    .recipe {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .recipe img {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .ingredients {
        grid-column: 2;
        grid-row: 1;
    }

    .instructions {
        grid-column: 1 / span2;
        grid-row: 2;
    }
}